body {
    background-color: #FFF8F0;
}

h1 {
    color: #213555;
}

.bg-custom-light {
    background-color: #D8C4B6;
}

.btn-custom-color {
    background-color: #4F709C;
    color: white;
}

.input-custom-width {
    max-width: 300px;
}

.text-custom-color {
    color: #213555;
}