{% extends 'base.html' %} 

{% block meta %}
    <title>Create Item</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
        <h1 class="fw-bold display-5">Add Item</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="my-3">  
                {{ form.as_table }}
            </table>  
            <div class="">
                <button type="button submit" class="btn btn-custom-color mb-3" value="Add Item">Add Item</button>
            </div>
        </form>
</div>
{% endblock %}