{% extends 'base.html' %}

{% block content %}
    <h1>Game Locker</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    {% if total_items == 0 or total_items == 1%}
        <p>You have saved {{total_items}} game in this app.</p>
    {% else %}
        <p>You have saved {{total_items}} games in this app.</p>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.genre}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
{% endblock content %}