{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="register p-3 border-100 rounded shadow-sm bg-custom-light">
        <h1 class="fw-bold display-5 text-center">Register</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="my-3">  
                {{ form.as_table }}
            </table>  
            {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            <div class="text-center">
                <button type="button submit" class="btn btn-custom-color mb-3" value="Register">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}